/* Naviagation bar */

.nav-bar {
	z-index: 9998;
	position: relative;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background: rgba($lightColor, 1);
	height: 50px;
	display: flex;
	@include media($tablet) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include media($desktop) {
		height: 60px;
		top: 0px;
	}
}


.menu-trigger {
	@include media($desktop) {
		display: none;
	}
	width: 32px;
	height: 100%;
	position: relative;
	left: 20px;
	padding-top: 14px;
	height: 100%;
	@include media($desktop) {
		display: none;
	}
	.hamburger {
		margin-top: 4px;
		display: block;
		position: relative;
		width: 100%;
		height: 5px;
		background: #bd813e;
		margin-bottom: 1px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}

.nav-bar-extras {
	height: 100%;
	right: 0px;
	width: auto;
	position: absolute;
	display:flex;
	flex-wrap: nowrap;
	align-items: center;
	a {
		color: $primaryColor;
		text-decoration: none;
		display: inline-block;
		height: 100%;
		i {
			color: #bd813e;
		}
	}
	.head-address {
		// width: 60px;
		// margin-right: 5px;
		// background:  rgba($primaryColor, .8); 
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			color: #bd813e;
			font-size: 25px;
		}
	}
	.head-phone {
		// background:  rgba($primaryColor, .8); 
		padding: 0 20px 0 20px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center; 
		font-size: 18px;
		i {
			font-size: 25px;
			margin-right: 10px;
		}
	}
}


/* Inside Page Headers */

.int-header {
	background-color: #375364;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	background-position-y: 50px; 


	@include media($tablet) {
		height: 420px;
	}
	@include media($desktop) {

	}
	// @include media($full) {
	// 	height: 600px;
	// }
}

.inside-header-logo {
	float: left;
	margin-top: 100px;
	@include media($tablet) {
		margin-top: 200px;
	}
	img {
		width: 180px;
		@include media($tablet) {
			width: auto;
		}
	}
}

